body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 2.5;
  text-align: left;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 35px;
}

nav a:hover {
  color: #1abc9c;
}

img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}
