body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  text-align: left;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 35px;
}

main {
  padding: 2rem;
}

nav a:hover {
  display: flex;
  color: #1abc9c;
  justify-content: space-between;
  width : 100%;
}

img {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}

nav .tab {
  flex: 1;
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 15px 0px;
  cursor: pointer;
  font-size: 16px;
}

nav .tab:hover {
  background-color: #1abc9c;
}

.tab-content {
  padding: 1rem;
}
